<div class="w-full h-full sm:h-[15vh] flex flex-col xl:flex-row justify-around items-center bg-black">
   <!-- Image -->
   <img src="dockWeilerImg.png" class="w-30 h-20">
   
   <!-- NavBar -->
    <div class="flex gap-10">
      <a href="crear-medico" class="text-white font-semibold tracking-tighter hover:scale-110 transition-all duration-300 text-2xl hover:text-yellow-300/75" routerLinkActive="active">
         Crear Medico
      </a> 
      <a href="ver-medicos" class="text-white font-semibold tracking-tighter hover:scale-110 transition-all duration-300 text-2xl hover:text-yellow-300/75">
         Ver Medico
      </a>
    </div>
 </div>
 <router-outlet></router-outlet>
